
@{
    ViewBag.Title = "AddCustomer";
}

<h2>AddCustomer</h2>
<form action="ViewCustomer">
    <p>
       ID: <input type="number" name="Id" />
    </p>
    <p>
        Name : <input type="text" name="Name" />
    </p>
    <p>
        Telephone :<input type="number" name="Telephone" />
    </p>
    <input type="submit" value="Add Customer" />
</form>

