@model CRUDFramework.Models.Customer
@{
    ViewBag.Title = "ViewCustomer";
}

<h2>View Customer</h2>
<h4>Customer ID</h4>
@Model.Id

<h4>Name</h4>
@Model.Name

<h4>Telephone</h4>
@Model.Telephone



