@{
    ViewBag.Title = "Home Page";
}

<h2> Creating the customer detail using CRUD entity framework</h2>
<p>
    In view Customer folder.Is the customer detail using hard coded value
</p>
<p>
    In view CustomerCRUD folder.Is the customer detail using entity framework
</p>
